.main-container{
	width: 1200px;
	margin-left: 74px;
}

/*main functions*/
.inline-b{
	display: inline-block;
}

.uppercase{
	text-transform: uppercase;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
/*main functions*/

/*header*/
header{
	height: 164px;
	padding: 68px;
}
header h1{
	font-size: 30px;
	font-family: 'Inconsolata';
	margin-right: 210px;
	letter-spacing: 8px;
}
.nav-li a{
	font-size: 14px;
	font-family: 'Playfair Display';
	color: #626262;
	margin-left: 110px;
	line-height: 30px;
}
/*header*/

/*first section*/
.section1{
	height: 1010px;
}
.section1-div1{
	height: 510px;
	background-image: url('../img/img1.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.section1-div2{
	height: 500px;
}
.div-contained{
	width: 900px;
	height: 360px;
	margin-top: 95px;
	margin-left: 143px;
}
.section1-div2-h4{
	font-size: 14px;
	font-family: 'Ubuntu';
	color: #B4AD9E;
	margin-bottom: 27px;
}
.section1-div2-h1{
	font-size: 30px;
	font-family: 'Playfair Display';
	color: #626262;
	margin-bottom: 40px;
}
.section1-div2-p{
	font-size: 14px;
	font-family: 'Playfair Display';
	color: #626262;
	margin-bottom: 47px;
	line-height: 20px;
}
.section1-div2-h4{
	font-size: 14px;
	font-family: 'Ubuntu';
	color: #B4AD9E;
}
/*first section*/

/*sections of boxes*/
.section2{
	height: 575px;
}

.section2-div{
	width: 420px;
	height: 485px;
}

.box1{
	margin: 30px 45px 30px 145px;
}

.box2{
	margin: 30px 145px 30px auto;
}

.box-image{
	margin-bottom: 31px;
}
.box-h4{
    margin-bottom: 26px;
    font-size: 14px;
    font-family: 'Ubuntu';
    color: #B4AD9E;
}
.box-h1{
    margin-bottom: 35px;
    font-size: 30px;
    font-family: 'Playfair Display';
    color: #626262;
}
.box-p{
	font-size: 14px;
	font-family: 'Playfair Display';
	line-height: 24px;
	color: #626262;
}
/*sections of boxes*/

/*grey container*/
.grey-container{
	width: 1349px;
	height: 290px;
	background-color: #F0F0F0;
	margin-top: 80px;
	margin-bottom: 80px;
}
.grey-cont-h1{
	font-size: 30px;
	font-family: 'Playfair Display';
	color: #333333;
	padding-left: 470px;
	padding-top: 74px;
}
.form-div{
	padding-left: 470px;
	padding-top: 74px;
}
form{
	display: inline-block;
	padding-bottom: 15px;
	border-bottom: 1px solid black;
}
input[type=email]{
	width: 320px;
	background-color:#F0F0F0;
	border: none;
	font-size: 14px;
	font-family: 'Playfair Display';
}
/*.btn{
	width: 33px;
	height: 21px;
	background-image: url('../img/submit.png');
	background-repeat: no-repeat;
	background-size: contain;
}*/
/*grey container*/

/*lead-more*/
.little-div{
	margin: 100px auto 100px 515px;
	padding: 20px 31px;
	width: 164px;
	height: 60px;
	border: 1px solid #626262;
	box-shadow: 0 1px 1px 0 #626262;
	font-size: 20px;
	font-family: 'Playfair Display';
	color: #626262;
	/*line-height: 30px;*/
}
/*lead-more*/

/*footer*/
footer{
	width: 1349px;
	height: 100px;
	background: #F0F0F0;
}
footer div{
	width: 211px;
	height: 15px;
	margin-top: 40px;
	margin-left: 145px;
}
.footer-h2:first-child{
	margin-right: 15px;
}
.footer-nav{
	margin-top: 35px;
	margin-right: 69px;
}
.footer-h2{
	font-size: 14px;
	font-family: 'Playfair Display';
}
footer .nav-li a{
	margin-left: 15px;
}
.img1{
	width: 8px;
	height: 14px;
}
.img2{
	width: 18px;
	height: 13px;
}
.img3{
	width: 15px;
	height: 15px;
}
footer .nav-li:first-child{
	font-family: 14px;
	font-family: 'Playfair Display';
}
/*footer*/